# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jiyose\Documents\Jiyose Dell\Estudo Jiyose\Sistemas Distribuidos\projetos distribuidos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
